<app-header></app-header>
<main id="main">
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Looking for help or want to join our team?</p>
      </div>

      <div class="row">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="icofont-google-map"><fa-icon [icon]="faLocal"></fa-icon></i>
              <h4>Location:</h4>
              <p>Ghana Accra Old Fadame Police Station AD123</p>
            </div>

            <div class="email">
              <i class="icofont-envelope"><fa-icon [icon]="faemail"></fa-icon></i>
              <h4>Email:</h4>
              <p>info@africcraft.com</p>
            </div>

            <div class="phone">
              <i class="icofont-phone"><fa-icon [icon]="faCoffee"></fa-icon></i>
              <h4>Call:</h4>
              <p>(+233) 245-591-682</p>
              <p>(+233) 245-591-682</p>
            </div>

           
          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form [formGroup]="addContact" class="php-email-form">

            <div class="row">
              <div class="form-group col-md-6">
                <label for="fname">Your Name</label>
                <input type="text" formControlName="fname" name="fname" class="form-control" id="name" [ngClass]="{'is-invalid': models && ab.fname.errors}" />
                <div *ngIf="models && ab.fname.errors && (ab.fname.dirty || ab.fname.touched)" class="invalid-feedback">
                  <div *ngIf="ab.fname.errors.required">FullName Required</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="email">Your Email</label>
                <input type="email" class="form-control" formControlName="email" name="email" id="email" [ngClass]="{'is-invalid': models && ab.email.errors}"/>
                <div *ngIf="models && ab.email.errors && (ab.email.dirty || ab.email.touched)" class="invalid-feedback">
                  <div *ngIf="ab.email.errors.required">Email Required</div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="subject">Subject</label>
              <input type="text" class="form-control" formControlName="subject" name="subject" id="subject" [ngClass]="{'is-invalid': models && ab.subject.errors}" />
              <div *ngIf="models && ab.subject.errors && (ab.subject.dirty || ab.subject.touched)" class="invalid-feedback">
                <div *ngIf="ab.subject.errors.required">Subject Required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="name">Message</label>
              <textarea class="form-control" name="message" rows="5" formControlName="message" [ngClass]="{'is-invalid': models && ab.message.errors}"></textarea>
              <div *ngIf="models && ab.message.errors && (ab.message.dirty || ab.message.touched)" class="invalid-feedback">
                <div *ngIf="ab.message.errors.required">Input Field Required</div>
                <div *ngIf="ab.message.errors.minLength">Minimum length required 15 charaters</div>
              </div>
            </div>

            <div class="text-center"><button type="submit" (click)="onSubmitContact()">Send Message</button></div>

            <div *ngIf="responseMessage">
              <div class="alert alert-success"><strong>Success!</strong> {{responseMessage.response}}</div>
            </div>

          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->
</main>
<app-footer></app-footer>