<app-header></app-header>
<main id="main">
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Products</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100"
          *ngFor="let product of dataFile" style="margin-top: 10px; margin-bottom: 10px;">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">{{product.name}}</a></h4>
            <p>{{product.description}}</p>
            <h4>Main features include:</h4>
            <ul>
			<li *ngFor="let item of product.features">{{item.filename}}</li>
            </ul>
            <br>
            <a href="{{product.pathLinks}}" target="_blank" class="btn btn-success">Demo Link</a>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->
</main>
<app-footer></app-footer>