/* You can add global styles to this file, and also import other style files */
body {
	font-family: "Open Sans", sans-serif;
	color: #444444;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Jost", sans-serif;
}

a {
	color: #47b2e4;
}
  
  a:hover {
	color: #73c5eb;
	text-decoration: none;
}
a{
	text-decoration: none;
}